.button
  &-send
    border: none
    background-color: transparent
    display: flex
    align-items: center
    height: 100%
    margin-left: 15px
    opacity: 0.2
    cursor: default
    pointer-events: none
    @media screen and ( max-width: 500px )
      margin-left: 8px
    svg
      width: 25px
      height: auto
      opacity: 0.4
      @media screen and ( max-width: 500px )
        width: 20px
      path
        fill: #4849a1
    &.active
      opacity: 1
      cursor: pointer
      pointer-events: auto