.dialogs
  display: flex
  flex-direction: column
  max-width: 320px
  width: 100%
  overflow: hidden
  padding: 0 0px
  background-color: #f4f4fa
  &-title
    font-size: 25px
    color: #000
    margin: 0
    padding: 10px 10px
  &-item
    display: flex
    flex-direction: row
    align-items: center
    padding: 10px 0px
    width: 100%
    border-bottom: 1px solid #eaebf4
    cursor: pointer
    transition: all 0.4s
    &:first-child
      border-top: 1px solid #eaebf4
    &:hover
      background-color: #4849a1
      transition: all 0.4s
      .dialogs-item__name
        color: #fff
        transition: all 0.4s
      .dialogs-item__time
        color: #fff
        transition: all 0.4s
      .dialogs-item__text
        color: #fff
        transition: all 0.4s
    &__avatar
      width: 30px
      min-width: 30px
      height: 30px
      min-height: 30px
      position: relative
      padding-left: 10px
      img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 50%
      &.online
        &::before
          content: ""
          width: 7px
          height: 7px
          border-radius: 50%
          background-color: #26cf72
          display: block
          position: absolute
          bottom: 0
          right: 0
    &__wrapper
      display: flex
      flex-direction: column
      flex-grow: 1
      margin-left: 10px
      max-width: 100%
      overflow: hidden
      padding-right: 10px
    &__top
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: baseline
    &__name
      font-size: 16px
      color: #000
      margin: 0px
      transition: all 0.4s
    &__time
      font-size: 12px
      opacity: 0.5
      color: #000
      margin: 0px
      transition: all 0.4s
    &__bottom
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: baseline
    &__text
      font-size: 12px
      max-width: 70%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      margin: 0px
      margin-top: 5px
      width: 70%
      transition: all 0.4s
      &.dark
        color: #000
      &.gray
        color: #000
        opacity: 0.5
    &__status
      width: 12px
      height: 12px
      background-color: #f95959
      border-radius: 50%

.dialog
  &-window
    flex-grow: 1
    padding: 10px
    padding-bottom: 0px
    border-right: 1px solid #f0f0f6
    display: flex
    flex-direction: column
  &-wrapper
    flex-grow: 1
    display: flex
    flex-direction: column
  &-empty
    flex-grow: 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &__icon
      width: 50px
      height: auto
      object-fit: contain
      opacity: 0.5
    &__text
      color: #000
      opacity: 0.5
